<header>
    <div class="author">
        <a class="heading-font" href="mailto:dhananjaykaushik96@gmail.com"
            >DHANANJAY KAUSHIK</a
        >
    </div>
    <div class="links">
        <div class="project link" (click)="router.navigate(['projects'])">
            <div class="icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="120"
                    height="120"
                    viewBox="0 0 120 120"
                >
                    <defs>
                        <clipPath id="b">
                            <rect width="120" height="120" />
                        </clipPath>
                    </defs>
                    <g id="a" clip-path="url(#b)">
                        <path
                            d="M60,0a60,60,0,1,0,60,60A60.067,60.067,0,0,0,60,0ZM78.535,63.535l-25,25a5,5,0,1,1-7.07-7.07L67.93,60,46.465,38.535a5,5,0,0,1,7.07-7.07l25,25A4.994,4.994,0,0,1,78.535,63.535Z"
                        />
                    </g>
                </svg>
            </div>
            <div class="text heading-font">Projects</div>
        </div>
    </div>
</header>
