<aside>
    <div class="profile-image">
        <img src="../../../assets/me.jpg" alt="Dhananjay Kaushik" />
    </div>
    <div class="mini-info">
        Armed with web-development skills and a never-ending thirst for
        knowledge, I develop and learn things.
    </div>
    <ul class="menu">
        <li>
            <a
                [routerLink]="['/']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="heading-font"
                href="#"
            >
                HOME
            </a>
        </li>
        <li>
            <a
                class="heading-font"
                [routerLink]="['/projects']"
                [routerLinkActive]="['active']"
            >
                PROJECTS
            </a>
        </li>
        <li><a class="heading-font" href="#"> ABOUT </a></li>
        <li><a class="heading-font" href="#"> CONTACT </a></li>
    </ul>
    <div class="socials">
        <a
            target="_blank"
            href="https://www.linkedin.com/in/dhananjaykaushik96/"
            class="social linkedin"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="120"
                height="120"
                viewBox="0 0 120 120"
            >
                <defs>
                    <clipPath id="clip-Artboard_2">
                        <rect width="120" height="120" />
                    </clipPath>
                </defs>
                <g
                    id="Artboard_2"
                    data-name="Artboard – 2"
                    clip-path="url(#clip-Artboard_2)"
                >
                    <path
                        id="_004-linkedin"
                        data-name="004-linkedin"
                        d="M37.5,99.141H21.1V46.172H37.5ZM39.139,29.3a9.608,9.608,0,1,0-9.6,9.61A9.61,9.61,0,0,0,39.139,29.3ZM98.906,70c0-14.219-3-24.765-19.614-24.765-7.982,0-13.339,3.992-15.526,8.143H63.75V46.172H47.813V99.141H63.75v-26.3c0-6.888,1.753-13.56,10.291-13.56,8.421,0,8.694,7.876,8.694,14V99.141H98.906ZM120,105.938V14.063A14.078,14.078,0,0,0,105.938,0H14.063A14.078,14.078,0,0,0,0,14.063v91.875A14.078,14.078,0,0,0,14.063,120h91.875A14.078,14.078,0,0,0,120,105.938ZM105.938,9.375a4.693,4.693,0,0,1,4.688,4.688v91.875a4.693,4.693,0,0,1-4.688,4.688H14.063a4.693,4.693,0,0,1-4.687-4.688V14.063a4.693,4.693,0,0,1,4.688-4.687Zm0,0"
                    />
                </g>
            </svg>
        </a>
        <a
            target="_blank"
            href="https://www.instagram.com/iamdhananjaykaushik/"
            class="social instagram"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="120"
                height="120"
                viewBox="0 0 120 120"
            >
                <defs>
                    <clipPath id="clip-Artboard_1">
                        <rect width="120" height="120" />
                    </clipPath>
                </defs>
                <g
                    id="Artboard_1"
                    data-name="Artboard – 1"
                    clip-path="url(#clip-Artboard_1)"
                >
                    <g id="_002-instagram" data-name="002-instagram">
                        <g id="Group_3" data-name="Group 3">
                            <g id="Group_2" data-name="Group 2">
                                <path
                                    id="Path_2"
                                    data-name="Path 2"
                                    d="M82.5,0h-45A37.5,37.5,0,0,0,0,37.5v45A37.5,37.5,0,0,0,37.5,120h45A37.5,37.5,0,0,0,120,82.5v-45A37.5,37.5,0,0,0,82.5,0Zm26.25,82.5A26.279,26.279,0,0,1,82.5,108.75h-45A26.279,26.279,0,0,1,11.25,82.5v-45A26.279,26.279,0,0,1,37.5,11.25h45A26.279,26.279,0,0,1,108.75,37.5Z"
                                />
                            </g>
                        </g>
                        <g
                            id="Group_5"
                            data-name="Group 5"
                            transform="translate(30 30)"
                        >
                            <g id="Group_4" data-name="Group 4">
                                <path
                                    id="Path_3"
                                    data-name="Path 3"
                                    d="M158,128a30,30,0,1,0,30,30A30,30,0,0,0,158,128Zm0,48.75A18.75,18.75,0,1,1,176.75,158,18.776,18.776,0,0,1,158,176.75Z"
                                    transform="translate(-128 -128)"
                                />
                            </g>
                        </g>
                        <g
                            id="Group_7"
                            data-name="Group 7"
                            transform="translate(88.253 23.753)"
                        >
                            <g id="Group_6" data-name="Group 6">
                                <circle
                                    id="Ellipse_1"
                                    data-name="Ellipse 1"
                                    cx="3.997"
                                    cy="3.997"
                                    r="3.997"
                                />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <a
            target="_blank"
            href="https://www.facebook.com/dhananjaycool.dj"
            class="social facebook"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="120"
                height="120"
                viewBox="0 0 120 120"
            >
                <defs>
                    <clipPath id="clip-iPhone_12_Pro_Max_1">
                        <rect width="120" height="120" />
                    </clipPath>
                </defs>
                <g
                    id="iPhone_12_Pro_Max_1"
                    data-name="iPhone 12 Pro Max – 1"
                    clip-path="url(#clip-iPhone_12_Pro_Max_1)"
                >
                    <g
                        id="_001-facebook"
                        data-name="001-facebook"
                        transform="translate(164 29)"
                    >
                        <g
                            id="Group_1"
                            data-name="Group 1"
                            transform="translate(-164 -29)"
                        >
                            <path
                                id="Path_1"
                                data-name="Path 1"
                                d="M105,0H15A15.015,15.015,0,0,0,0,15v90a15.015,15.015,0,0,0,15,15H60V78.75H45V60H60V45A22.5,22.5,0,0,1,82.5,22.5h15V41.25H90c-4.14,0-7.5-.39-7.5,3.75V60h18.75l-7.5,18.75H82.5V120H105a15.015,15.015,0,0,0,15-15V15A15.015,15.015,0,0,0,105,0Z"
                            />
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</aside>
